/*
    DEMO STYLE
*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}

.text-blue {
    color: #013157;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2px;
}
.h1-heading {
    font-size: 28px;
}
h3 {
    font-size: calc(15px + 0.3vw);
}
p, li {
    color: #636466;
}
 .btn--underline {
    border-bottom: 1px solid #013157;
}

.btn--arrow {
    color: #013157;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff !important;
    border: none;
    border-radius: 0; 
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
        position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    right: -250px;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
    overflow-y: scroll;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
    right: 0;
}

#dismiss {
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-align: center;
    background: #7386D5;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}

#dismiss:hover {
    background: #fff;
    color: #7386D5;
}

.overlay {
    display: none;
    position: fixed;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    z-index: 998;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}
.overlay.active {
    display: block;
    opacity: 1;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
   
    transition: all 0.3s;
}
.wrapper {
    margin-top: 92px;
}
.border-none {
    border: none;
    background: none !important;
}
.big-menu-bar {
    font-size: 2.5em;
}
.image-slider .carousel-item img {
    width: 100%;
}
.image-slider .carousel-item .carousel-caption {
    background: #003366d4;
    text-align: left;
    padding: 20px;
    top: auto;
    bottom: 50px;
}

.image-slider .carousel-item .carousel-caption h2 {
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
}

.image-slider .carousel-item .carousel-caption p {
    font-size: 16px;
    margin-bottom: 0;
    color: #fff;
}
.carousel-control-next, .carousel-control-prev {
    background: #0003;
    width: 40px;
    height: 30px;
    top: 50%;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    color: #000;
     
}
.scope-of-activity .content__inner img {
    width: 100%;
}
.pharmaceutics-color {
    color: #b0bf00;
}
.healthcare-color {
    color: #0197b0;
}
.microelektronics-color {
    color: #7acdef;
}
.science-color {
    color: #efc000;
}

.news {
    background: #f2f2f2;
}
.footer-section {
    background: #013157;
    position: relative;
}
.footer-heading{
    color: #fff;
    font-weight: 300;
    font-size: 20px;
    border-bottom: 1px solid #fff;
    padding: 0px 0px 20px 0px;
    margin-bottom: 30px;
    font-family: 'Roboto' !important;
}
.list--unstyled {
    list-style: none;
    padding-left: 0;
}.footer a, .footer li {
    color: #fff;
    font-weight: 300;
}
.list-style-square {
    padding-left: 17px;
    list-style: square;
}

.list-style-square li {
    color: #fff;
    font-weight: 300;
}

.list-style-square li  a {
    color: #fff;
    font-weight: 300;
    font-size: 16px !important;
}

.list--unstyled li {
    color: #fff;
    font-weight: 300;
}

.footer-section .row {justify-content: space-around;}

 

.list--inline li {
    display: inline-block;
    margin-right: 10px;
}

 .footer-bottom {background: #013157;border-top: 2px solid #023e65;padding-top: 15px;padding-bottom: 15px;}

.footer-bottom p {
   text-align:center;
   padding: 0;
   margin: 0;
   color: #426e92;
   font-size: 14px;
   font-weight: 400;
}